/*  your css code here. If applicable */
.hero{
	display:flex;
	width:500px;
	flex-wrap:no-wrap;
/* margin:50px; */
	align-item:centre;
	justify-content:space-around;
/* 	height:50px */
/* 	justify-content:space-around; */
	}
.h5{
	padding:30px;
	margin-top:50px;
	}
}
.butt{
	background-color:red;
	color:red;
	border-radius:50px;
	margin:50px;

	
/* 	display:flex-start; */
}